@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Work Sans", sans-serif;
}
a{
    color: black;
    text-decoration: none;
}

            /*header*/
header{
    background-color:#F7F7F7;
    box-shadow: 0px 1px 15px #b4b4b4;
    display:flex;
    justify-content: center;
    position: fixed;
    top: 0px;
    width: 100%;
}
.contenar_nav_bar{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
 font-family: "Work Sans", sans-serif;
 font-style: italic;
 font-size: 25px;
 padding: 15px 0;
}
.logo span{
 font-weight: 700;
}
.contenar_nav_bar nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    font-family: "Work Sans", sans-serif;
    font-style: italic;
}
.contenar_nav_bar nav ul a{
    padding: 15px;
    color: #282830;
}
.contenar_nav_bar nav ul a:hover{
    color: #000000 !important;
     
}
.acteve{
    color: #000000 !important;
    font-weight: 500;
}
         /*main*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}        
/*home*/
#home{
    background-image: url(../img/image_de_home.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    margin-top: 59px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: end;

}   
#home div{
    width: 70%;
    margin-bottom: 80px;
    font-family: "Work Sans", sans-serif;
    font-style: italic;
    
}    
#home div p{
    width: 65%;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
} 
#home div a{
    padding: 10px 10px;
    background-color:#4B6BFB ;
    border-radius: 10px;
    color: white;
}
#home div a:hover{
    background-color:#0d28a3 ;
}
   /*section de card start*/
.contenar_articles{
    margin-top: 40px;
    width: 85%;
}  
.contenar_articles h5{
    margin-bottom: 20px;
    font-size: 25px;
    border-left: 6px solid #4B6BFB;
    padding-left: 8px;
}
.contenar_de_Recent_articles{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.card{
    padding: 25px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: #C4C4C4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card img{
    border-radius: 9px;
}
.div1{
    margin-top: 15px;
    margin-bottom: 8px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.tetle{
    font-weight: 600;
    font-size: 18px;
    width: 90%;
}
.button_read_more{
    margin-top: 20px;
    margin-right: auto;
    font-weight: 800;
}

   /*footer*/
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(10, 10, 10);
    color: white;
    margin-top: 50px;
    padding-top: 30px;
}
.section_footer{
    width: 85%;
    display: flex;
    justify-content: space-between;
}  
.logo_footer{
 font-family: "Work Sans", sans-serif;
 font-style: italic;
 font-size: 25px;
 padding: 15px 0;
 color: white;
}
.logo_footer span{
 font-weight: 700;
}
.abute_footer{
    width: 40%;
}
.abute_footer p{
   margin-top: 20px;
   font-size: 14px;
   
}
.nav_footer{
    padding-top: 20px;
    
}
.nav_footer ul li{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.nav_footer ul li a{
    color: white;
}
.nav_footer ul li a:hover{
    color: rgb(123, 132, 255);
}
.social_media{
    display: flex;
    align-items: center;
    gap: 20px;
}
.social_media i{
    font-size: 30px;
    color: #4B6BFB;
}
.social_media i:hover{
    color: #ffffff;
}
.bar_coperite{
    background-color: #000000;
    border-top:1px solid rgb(0, 0, 0) ;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    margin-top: 15px;
}
    /*section authors*/
.section_authors{
   margin-top: 70px;
   height: 70vh;
   display: flex;
   justify-content: center;
   display: none;
}
.contenar_authors{
    width: 85%;
}
.contenar_authors h1{
    text-align: center;
    margin-top: 15px;
}
    /*section de blog*/
.section_blog{
    margin-top: 70px;
    height: 70vh;
    display: flex;
    justify-content: center;
    display: none;
}
.contenar_blog{
    width: 85%;
}
.contenar_blog h1{
    text-align: center;
    margin-top: 15px;
}

/*nav categories*/
.button_categories{
    position: relative;  
}
.nav-categories{
    position: absolute;
    top: 59px;
    background-color:#F7F7F7;
    padding: 10px 0px;
    border:2px solid #dddcdc;
    border-top:none ;
    border-radius:0 0 10px 10px;
    display: none;
}
.nav-categories ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.button_categories:hover + .nav-categories{
    display: block;
}
.nav-categories:hover{
    display: block;
}